@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@font-face {
	font-family: 'digital';
	src: url('$lib/assets/fonts/digital-7.regular.ttf');
}

:root {
	font-family:
		Roboto,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}

a,
summary {
	font-family:
		Roboto,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	font-weight: 500;
	letter-spacing: 0.1rem;
	color: white;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: 'Orelega One', serif;
	letter-spacing: 0.3rem;
}

h1 {
	font-size: clamp(2rem, 5vw, 2.5rem);
}
h2 {
	font-size: clamp(1.6rem, 4vw, 2rem);
}
h3 {
	font-size: clamp(1.4rem, 3.5vw, 1.75rem);
}

header {
	background: linear-gradient(128deg, #000000, #4a4e4d, #454952);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 30s ease infinite;
	-moz-animation: AnimationName 30s ease infinite;
	animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
	0% {
		background-position: 2% 0%;
	}
	50% {
		background-position: 99% 100%;
	}
	100% {
		background-position: 2% 0%;
	}
}
@-moz-keyframes AnimationName {
	0% {
		background-position: 2% 0%;
	}
	50% {
		background-position: 99% 100%;
	}
	100% {
		background-position: 2% 0%;
	}
}
@keyframes AnimationName {
	0% {
		background-position: 2% 0%;
	}
	50% {
		background-position: 99% 100%;
	}
	100% {
		background-position: 2% 0%;
	}
}
