@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@font-face {
	font-family: 'digital';
	src: url('$lib/assets/fonts/digital-7.regular.ttf');
}

body {
	margin: 0;
	padding: 0;
	max-width: full;
}

:root {
	font-family:
		Roboto,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}

a,
summary,
.deco {
	font-family:
		Roboto,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	font-weight: 500;
	letter-spacing: 0.1rem;
	color: white;
}

a:hover,
summary:hover,
.search:hover,
.deco:hover {
	color: #eab308;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: 'Orelega One', serif;
	letter-spacing: 0.2rem;
}
/* .burger_menu {
	width: 30px;
	margin: 0 auto;
	display: block;
} */

h1 {
	font-size: clamp(2rem, 5vw, 2.5rem);
}
h2 {
	font-size: clamp(1.6rem, 4vw, 2rem);
}
h3 {
	font-size: clamp(1.4rem, 3.5vw, 1.75rem);
}
.author {
	font-style: italic;
	font-size: small;
}

/* header,
footer,
.menu-compact,
.drop,
{
	background: linear-gradient(128deg, #000000, #343636, #181f30);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 25s ease infinite;
	-moz-animation: AnimationName 25s ease infinite;
	animation: AnimationName 25s ease infinite;
} */

/* @-webkit-keyframes AnimationName {
	0% {
		background-position: 2% 0%;
	}
	50% {
		background-position: 99% 100%;
	}
	100% {
		background-position: 2% 0%;
	}
}
@-moz-keyframes AnimationName {
	0% {
		background-position: 2% 0%;
	}
	50% {
		background-position: 99% 100%;
	}
	100% {
		background-position: 2% 0%;
	}
}
@keyframes AnimationName {
	0% {
		background-position: 2% 0%;
	}
	50% {
		background-position: 99% 100%;
	}
	100% {
		background-position: 2% 0%;
	}
} */

.slide-in-bottom {
	opacity: 0;
	transform: translateY(1000px);
	transition:
		opacity 0.5s,
		transform 0.5s;
}

.animate {
	animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-bottom {
	0% {
		transform: translateY(1000px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
